research_paper_database/Living database of RA trials September 2024_1_2_final_withCRSID_gh.csv
research_paper_database/Living database of RA trials September 2024_1_2_final_withCRSID_gh.xlsx


.env

.robust_lab/

robust_py311/

paper_extracts/

Document_Extraction/rp_pull_test.ipynb

functions/pdf_parser.py 

functions/pdf_resolver.py

archived_papers/

Logs/