

# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
.dist/
build/
*.so
*.o
*.d
setup_folder/compile_exl.py
setup_folder/setup_env.py
/testing/
/depricated/
/work/robust_ai_lab/rheum_project/scripts/download.py


# Virtual envs
.venv/
.venv*/
venv*/




# Editors
.vscode/
.idea/
*.code-workspace

# Logs / outputs
logs/
slurm-*.out
*.out
*.err

# tooling installers
git-lfs-*/ 
git-lfs.tar.gz




#shell
shell_scripts/compile_exl.sh
shell_scripts/download_hf.sh


/work/robust_ai_lab/rheum_project/shell_scripts/olmocr-pipeline-debug.log


shell_scripts/